.main-container,
.main-container > .header,
.main-container > .container,
.header > .header_navigation {
  box-sizing: border-box;
  display: flex;
}

.main-container,
.main-container > .header {
  align-items: center;
}

.main-container {
  width: 100vw;
  flex-direction: column;
}

.main-container_separator {
  margin: 50px 0;
  background-color: var(--secondary);
  width: 50%;
  height: 1px;
}

@media screen and (min-width: 768px) {
  .main-container_separator {
    width: 25%;
  }
}

.container {
  width: 100%;
  height: auto;
  justify-items: center;
  padding: 10px;
}

@media screen and (min-width: 1024px) {
.container {
    padding: 40px;
  }
}

.main-container > .header {
  width: 100%;
  margin: 50px 0 0 0
}

@media screen and (min-width: 1024px) {
  .main-container>.header {
    justify-content: center;
  }
}

.header > .header_navigation {
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

@media screen and (min-width: 1024px) {
  .header>.header_navigation {
    width: 25%
  }

  .header_navigation>* {
    flex-grow: 0.2;
  }
}
