.main-container,
.main-container > .header,
.main-container > .container,
.header > .header_navigation {
  box-sizing: border-box;
  display: flex;
}

.main-container,
.main-container > .header {
  align-items: center;
}

.main-container {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.container {
  width: 100%;
  height: auto;
  justify-items: center;
}

.main-container > .header {
  width: 100%;
  margin: 10% 0 45px 0
}

@media screen and (min-width: 1024px) {
  .main-container>.header {
    justify-content: center;
  }
}

.header > .header_navigation {
  flex-direction: row;
  width: 100%;
  gap: 20px;
}

@media screen and (min-width: 1024px) {
  .header>.header_navigation {
    width: 25%
  }
}

.header_navigation > * {
  flex-grow: 0.2;
}
