.desktop-only {
  display: none!important;
}

@media screen and (min-width: 1024px) {
  .desktop-only {
    display: block!important;
  }
}

.mobile-only {
  display: none!important;
}

@media screen and (max-width: 1024px) {
  .mobile-only {
    display: block!important;
  }
}

.bg-primary {
  background-color: rgb(var(--primary));
}

.bg-secondary {
  background-color: rgb(var(--secondary));
}

.bg-tertiary {
  background-color: rgb(var(--tertiary));
}

.text-primary {
  color: rgb(var(--primary));
}

.text-secondary {
  color: rgb(var(--secondary));
}

.text-tertiary {
  color: rgb(var(--tertiary));
}